<div class="user-nav">
  <ul class="nav flex-column">
  <li class="nav-item">
      <%= link_to '管理トップ', admins_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to '会員', admin_users_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'コンサート', admin_concerts_path , class:"nav-link" %>
    </li>
  </ul>
</div>