@import "./users";
@import "./concerts";
@import "./admins";

// sm << tab == pc 1024 <<
// .box {
//   @include tab {
//     background-color: blue;
//   };
// }

$tab: 960px; 
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  }


.body-container{
  background-color: #fff;
  width:100%;
  margin:0 auto;
  height:100vh;
  
}
header{
  margin-bottom:20px;
  width:auto;
}
.navbar-nav{
  float:left;
  .nav-item.active{
    float:right;
  }
}
.notificatoin{
  margin-bottom:10px;
  width:auto;
}

.yield{
  @include tab{
    display:flex;
    height:100%;
  }
}

.nav-container{
  display:none;
  @include tab{
    display: inline;
    width:200px;
    border-right:solid 1px #000;
    text-align:center;
  }
  .setting{
    margin:10px 0 10px 0;
    border-top:solid 1px #000;
  }
}


.main-container{
  width:auto;
  margin:0 10px 10px 10px;
  flex:1;
  @include tab{
    flex:1;
  }
}

.footer{
  width:auto;
  padding:0 10px;
  height:50px;
  @include tab{
    display:none;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

// container
// for users
div.user-nav{
  margin-bottom:10px;
  border-bottom:solid 1px #000;
  @include tab{
  width:200px;
  height:100%;
  float:left;
  border-right:solid 1px red;
  text-align:center;
  }
}

div.user-main{
  @include tab{
  width:auto;
  float:left;
  padding-left:10px;
  }
}

// for admins(admin+ admin_users+ admin_concerts
div.admin-nav{
  margin-bottom:10px;
  border-bottom:solid 1px #000;
  @include tab{
  width:200px;
  height:100%;
  float:left;
  border-right:solid 1px red;
  text-align:center;
  }

}

div.admin-main{
  @include tab{
  width:auto;
  float:left;
  padding-left:10px;
  }
}
